/* This is the style sheet for CamPhotoPage.htm for my final project in CGS 1820.

		Name: Scot StClair
		Date: 11/22/15
		
*/

html {
	background-image: url(wall.jpg)
}

header {
	font-size: 60px;
	text-align:center;
	color: DarkRed;
	padding: 5px;
}

body {
	color: DarkRed;
	font-size: 28px;
}

body a {
	color: DarkRed;
}

img#CamSwing {
	float: right;
	width: auto;
	height: 600px;
}

nav.horizontal {
	text-align: center;
}

nav.horizontal a {
	background-color: DarkRed;
	color: Tan;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	padding: 5px;
}

nav.horizontal a:hover {
	background-color: White;
	color: DarkRed;
}

section {
	text-align: center;
}

.thumbnail {
	position: relative;
	display: inline-block;
	height: auto;
	width: auto;
	max-height: 200px;
}

header img {
	float: left;
	width: auto;
	height: 150px;
}

section {
	clear: left;
	float: left;
}

footer {
	text-align: center;
}